* {
  margin: 0;
}

body {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: arpona, serif;
  margin: 40px;
  display: flex;
  align-items: start;
  background-color: black;
}

.background-logo {
  position: absolute;
  margin: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.2em;
  width: 97%;
}

p {
  font-size: 1.1em;
}

.information-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
}

.preseed-wrapper {
  display: flex;
  align-items: center;
  background-color: #d0ffa1;
  width: 245px;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #67ce00;
  text-align: center;
  color: #468b00;
}

.preseed-ellipse {
  font-weight: bold;
  margin-left: 7px;
  margin-right: 5px;
  padding: 4px;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: #80ff00;
  border: 3px solid #468b00;
}

.information-block_buttons {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 15px;
}

.information-block_buttons a {
  padding: 8px;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
  text-align: center;
}

.Tokenomics_button {
  background-color: #00ffe6;
  border: 3px solid #009b8c;
}

.smart-contrat_button {
  background-color: #ece2cf;
  border: 3px solid #baa884;
}

.wallet-block {
  width: 90%;
  z-index: 1;
  position: relative;
  background-color: #ece2cf;
  border: 6px solid #baa884;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
  height: 520px;
}

.wallet-block_stars-img {
  position: absolute;
  top: -74px;
  right: -46px;
}

.wallet-block_token-img {
  z-index: -1;
  position: absolute;
  height: 100%;
}

.wallet-block_corner-imgs {
  position: absolute;
}

.wallet-block_corner-img_bottom-right {
  bottom: 10px;
  right: 10px;
}

.wallet-block_corner-img_bottom-left {
  bottom: 10px;
  left: 10px;
}

.wallet-block_corner-img_top-right {
  top: 10px;
  right: 10px;
}

.wallet-block_corner-img_top-left {
  top: 10px;
  left: 10px;
}

.wallet-block_prices {
  display: flex;
  width: 80%;
}

.prices-wrapper {
  padding: 8px;
  text-align: center;
  width: 100%;
  border: 2px solid #5e594b;
}

.objectif-bar {
  background-color: #00ffe6;
  padding: 10px;
  width: 75%;
}

.wallet-connexion_text {
  font-size: 2.2em;
  text-align: center;
  font-weight: bold;
}

.wallet-connexion_button {
  font-size: 1.5em;
  padding: 7px;
  width: 50%;
  background-color: #00ffe6;
  border: 2px solid black;
  box-shadow: inset 0px 0px 3px #046057;
}
