* {
  font-family: arpona, serif;
  margin: 0;
}

body {
  position: relative;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 40px;
  display: flex;
  align-items: start;
  background-color: rgb(29, 29, 29);
}

.background-logo {
  z-index: -3;
  position: absolute;
  top: -85px;
  right: 22%;
  background-attachment: fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.2em;
  width: 97%;
}

p {
  font-size: 1.1em;
}

.information__section {
  width: 47%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
}

.information__section__preseed--wrapper {
  padding: 2px;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  background-color: #d0ffa1;
  width: 238px;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #67ce00;
  text-align: center;
  color: #468b00;
  font-weight: bold;
}

.information__section__preseed__circle {
  font-weight: bold;
  margin-left: 7px;
  margin-right: 5px;
  padding: 4px;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: #80ff00;
  border: 3px solid #468b00;
}

.information__section__polygon-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.05em;
}

.information__section__buttons {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
}

.information__section__buttons a {
  padding: 9px;
  font-size: 1.1em;
  text-decoration: none;
  color: black;
  text-align: center;
}

.information__section__buttons--blue {
  background-color: #00ffe6;
  border: 3px solid #009b8c;
}

.information__section__buttons--beige {
  background-color: #ece2cf;
  border: 3px solid #baa884;
}

.invest__section__container {
  width: 53%;
}

.invest__section {
  z-index: 1;
  position: relative;
  background-color: #ece2cf;
  border: 6px solid #baa884;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 530px;
}

.invest__section__stars-img {
  position: absolute;
  top: -74px;
  right: -40px;
}

.invest__section__token-img {
  z-index: -1;
  position: absolute;
  height: 100%;
}

.invest__section__corner-imgs {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.invest__section__corner-imgs img {
  position: absolute;
}

.invest__section__corner-img--bottom-right {
  bottom: 10px;
  right: 10px;
}

.invest__section__corner-img--bottom-left {
  bottom: 10px;
  left: 10px;
}

.invest__section__corner-img--top-right {
  top: 10px;
  right: 10px;
}

.invest__section__corner-img--top-left {
  top: 10px;
  left: 10px;
}

.invest__section__prices {
  display: flex;
  width: 90%;
}

.invest__section__prices__wrapper {
  padding: 8px;
  text-align: center;
  width: 100%;
  border: 1px solid #5e594b;
}

.invest__section__prices__info {
  font-size: 0.8em;
}

.invest__section__prices__number {
  font-weight: bold;
  font-size: 1.3em;
}

.invest__section__objectif {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.invest__section__objectif-bar {
  border: 2px solid #2a2820;
  background-color: #00ffe6;
  padding: 10px;
  width: 83%;
}

.invest__section__objectif-bar__statut {
  color: #5e594b;
  font-weight: bold;
}

.invest__section__objectif-bar__statut span {
  font-size: 0.9em;
  font-weight: normal;
  margin-right: 5px;
  color: #5e594b;
}

.invest__section__connect-wallet__text {
  font-size: 2.2em;
  text-align: center;
  font-weight: bold;
}

.invest__section__connect-wallet__button {
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  padding: 12px;
  width: 55%;
  background-color: #00ffe6;
  border: 2px solid black;
  box-shadow: inset 0px 0px 6px #046057;
}

.invest__section__connect-wallet__error-message {
  visibility: hidden;
  position: absolute;
  bottom: 6%;
  color: rgb(216, 1, 1);
}

.invest__section__buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  visibility: hidden;
}

.invest__section__buttons button {
  cursor: pointer;
  padding: 13px;
  margin-top: 35px;
  width: 230px;
  color: white;
  background-color: transparent;
  border: 3px solid #5e594b;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.invest__section__connected-wallet {
  display: flex;
  width: 90%;
}

.connected-wallet__token-purchase {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  width: 50%;
}

.input {
  height: 50px;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2820;
  color: #e7e3db;
}

.input__field {
  color: #e7e3db;
  width: 100%;
  height: 45px;
  border: none;
  background-color: #2a2820;
  font-weight: bold;
  font-size: 1.4em;
  padding-left: 15px;
}

.select-crypto__select {
  font-size: 1.1em;
  border-radius: none;
  border: none;
  appearance: none;
  height: 100%;
  width: 80%;
  background-color: #2a2820;
  color: #e7e3db;
}

.input__field:focus {
  outline: none;
}

.connected-wallet__select-crypto__wrapper {
  display: flex;
  position: relative;
}

.select-crypto__input__wrapper {
  background-color: #2a2820;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  height: 100%;
}

.select-crypto__input {
  padding-left: 10px;
  appearance: none;
  width: 100%;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

.select-crypto__input:focus {
  outline: none;
}

.select-crypto__input__current-value__wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2px;
  color: #e7e3db;
}

.select-crypto__input__down-arrow {
  cursor: pointer;
  padding: 0px 18px;
}

.connected-wallet__token-purchase {
  background-color: #c1b69b;
}

.select-crypto__input__wrapper .line {
  height: 100%;
  width: 1px;
  background-color: #5e594b;
  margin-left: 15px;
}

.select-crypto__input__balance-value-usd,
.money-to-invest__input__wrapper--size {
  font-size: 0.7em;
  color: #c1b69b;
}

.connected-wallet__money-to-invest__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.money-to-invest__input p {
  font-size: 1.4em;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.money-to-invest__input__wrapper {
  height: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
}

.money-to-invest__input__wrapper__button {
  cursor: pointer;
  font-size: 1em;
  padding: 7px;
  margin: 4px;
  background-color: #5e594b;
  color: #c1b69b;
}

.connected-wallet__token-amount {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  background-color: #2a2820;
  color: #e7e3db;
}
.token-amount__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.token-amount__wrapper p {
  margin-top: 7px;
  font-family: ferryman, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #00ffe6;
}

.token-amount__max-amount__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.token-amount__max-amount__info {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  color: #c1b69b;
  font-family: ferryman, sans-serif;
}

.token-amount__max-amount__line {
  height: 2px;
  width: 80%;
  background-color: #ece2cf;
}

.token-amount__max-amount {
  margin-top: 7px;
  font-family: ferryman, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #c1b69b;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.select-crypto__input__dropdown-content {
  display: none;
}

.show {
  padding: 0px;
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  left: 0px;
  top: 50px;
  background-color: #2a2820;
  visibility: visible;
  z-index: 1;
}

.select-crypto__input__dropdown-content li {
  cursor: pointer;
  color: #e7e3db;
  text-align: center;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
  width: 100%;
}

.select-crypto__input__dropdown-content li:hover {
  background-color: #353430;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

@media (max-width: 1024px) {
  body {
    flex-direction: column;
    margin: 25px;
  }

  .information__section {
    align-items: center;
    width: 100%;
    gap: 15px;
  }

  h1 {
    text-align: center;
    font-size: 2.8em;
    width: 95%;
  }
  h2 {
    font-size: 1.3em;
  }

  .invest__section {
    width: 87%;
    gap: 15px;
  }

  .invest__section__container {
    width: 100%;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .information__section__buttons a {
    padding: 11px;
  }

  .background-logo {
    right: -4%;
  }

  .information__section__buttons {
    width: 400px;
  }

  .token-amount__max-amount {
    font-size: 2.3em;
  }

  .invest__section__connected-wallet {
    width: 95%;
  }
  .invest__section__connect-wallet__button {
    font-size: 1.1em;
  }
  .token-amount__max-amount {
    font-size: 2.28em;
  }
  .invest__section__stars-img {
    position: absolute;
    top: -60px;
    right: -42px;
    height: 110px;
  }
}

@media (max-width: 650px) {
  .invest__section {
    width: 93%;
  }
}

@media (max-width: 576px) {
  body {
    margin: 15px;
  }

  h1 {
    font-size: 2.6em;
    text-align: start;
    width: 100%;
  }

  h2 {
    text-align: center;
    font-size: 1.2em;
    padding: 0px 15px;
  }

  .background-logo {
    display: none;
  }

  .information__section {
    align-items: start;
    width: 100%;
  }

  .invest__section {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 97%;
  }

  .invest__section__stars-img {
    display: none;
  }

  .invest__section__token-img {
    height: 350px;
    top: 12%;
  }

  .information__section__buttons {
    width: 100%;
  }
  .invest__section__corner-imgs {
    display: none;
  }
  .invest__section__prices {
    flex-direction: column;
  }

  .invest__section__prices__wrapper {
    width: 93%;
  }

  .invest__section__buttons {
    flex-direction: column;
    margin-top: 20px;
    gap: 7px;
  }

  .invest__section__buttons button {
    margin-top: 0px;
  }

  .invest__section__connect-wallet__text p {
    font-size: 1em;
  }
  .invest__section__connect-wallet__button {
    width: 95%;
  }

  .invest__section__connected-wallet {
    flex-direction: column;
  }

  .connected-wallet__token-purchase {
    width: 91%;
  }

  .connected-wallet__token-amount {
    width: 91%;
  }

  .invest__section__connect-wallet__error-message {
    bottom: 10px;
  }
}
