<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../components/navbar/navbar.css" />
    <link rel="stylesheet" href="https://use.typekit.net/uog8olw.css" />
  </head>
  <div class="navbar">
    <div class="navbar__wrapper">
      <a href="./ico.html"
        ><img src="../../assets/images/logo-3.png" alt=""
      /></a>
      <ul class="navbar__mobile-menu">
        <li>
          <a href="">GAMEPLAY</a>
        </li>
        <li>
          <a href="">ROADMAP</a>
        </li>
        <li>
          <a href="https://anazirgame.gitbook.io/whitepaper-anazir"
            >WHITEPAPER
            <img
              src="../../assets/images/redirection-arrow.png"
              class="redirection_arrow"
            />
          </a>
        </li>
        <li>
          <a
            href="https://anazirgame.gitbook.io/whitepaper-anazir/economy/tokenomics-and-distributions"
            >TOKEN
            <img
              src="../../assets/images/redirection-arrow.png"
              class="redirection_arrow"
            />
          </a>
        </li>
        <li>
          <a href="https://www.threevisionstudio.com/"
            >LE STUDIO
            <img
              src="../../assets/images/redirection-arrow.png"
              class="redirection_arrow"
            />
          </a>
        </li>
        <img
          src="../../assets/images/Vector(5).png"
          class="navbar__mobile-menu__close-item"
        />
      </ul>
    </div>

    <div class="navbar__app-logos">
      <a
        href="https://play.google.com/store/apps/details?id=com.Threevision.AnazirGame"
        ><img
          src="../../assets/images/google-store-logo.png"
          alt="Logo du google play store"
      /></a>
      <a
        href="https://apps.apple.com/us/app/anazir-td-arena-tower-defense/id6450485930?uo=2"
        ><img
          src="../../assets/images/apple-store-logo.png"
          alt="Logo de l'apple store"
      /></a>
      <div class="navbar-mobile">
        <div class="navbar-mobile__lines line1"></div>
        <div class="navbar-mobile__lines line2"></div>
        <div class="navbar-mobile__lines line3"></div>
      </div>
    </div>
  </div>
  <body></body>
  <script src="./navbar.js"></script>
</html>
