* {
  margin: 0;
}

header {
  font-family: arpona, serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 5px;
  padding-right: 50px;
  padding-left: 50px;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

ul a {
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 4px;
  color: white;
  text-decoration: none;
}

.redirection_arrow {
  height: 15px;
  margin-bottom: 1px;
}

.download-game-app-logos img {
  margin-left: 5px;
  height: 40px;
}
